functions/CRMWorker/crm-service-dev.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mio="http://demo2042536.mockable.io/service/1"
                  targetNamespace="http://demo2042536.mockable.io/service/1">

    <wsdl:documentation>
        mockable.io generated WSDL
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    targetNamespace="http://demo2042536.mockable.io/service/1">
            
            <xsd:element name="Alta_Masiva_ContactoRequest" type="xsd:anyType"/>
            <xsd:element name="Alta_Masiva_ContactoResponse" type="xsd:anyType"/>
            
            <xsd:element name="Consulta_ContactoPorDocumentoRequest" type="xsd:anyType"/>
            <xsd:element name="Consulta_ContactoPorDocumentoResponse" type="xsd:anyType"/>
            
        </xsd:schema>
    </wsdl:types>

    
    <wsdl:message name="Alta_Masiva_ContactoInputMessage">
        <wsdl:part name="Alta_Masiva_ContactoInputPart" element="mio:Alta_Masiva_ContactoRequest"/>
    </wsdl:message>
    <wsdl:message name="Alta_Masiva_ContactoOutputMessage">
        <wsdl:part name="Alta_Masiva_ContactoOutputPart" element="mio:Alta_Masiva_ContactoResponse"/>
    </wsdl:message>
    
    <wsdl:message name="Consulta_ContactoPorDocumentoInputMessage">
        <wsdl:part name="Consulta_ContactoPorDocumentoInputPart" element="mio:Consulta_ContactoPorDocumentoRequest"/>
    </wsdl:message>
    <wsdl:message name="Consulta_ContactoPorDocumentoOutputMessage">
        <wsdl:part name="Consulta_ContactoPorDocumentoOutputPart" element="mio:Consulta_ContactoPorDocumentoResponse"/>
    </wsdl:message>
    

    <wsdl:portType name="integracion-opcionales-crmPortType">
        
        <wsdl:operation name="Alta_Masiva_Contacto">
            <wsdl:input name="Alta_Masiva_ContactoInput"
                        message="mio:Alta_Masiva_ContactoInputMessage"/>
            <wsdl:output name="Alta_Masiva_ContactoOutput"
                         message="mio:Alta_Masiva_ContactoOutputMessage"/>
        </wsdl:operation>
        
        <wsdl:operation name="Consulta_ContactoPorDocumento">
            <wsdl:input name="Consulta_ContactoPorDocumentoInput"
                        message="mio:Consulta_ContactoPorDocumentoInputMessage"/>
            <wsdl:output name="Consulta_ContactoPorDocumentoOutput"
                         message="mio:Consulta_ContactoPorDocumentoOutputMessage"/>
        </wsdl:operation>
        
    </wsdl:portType>

    <wsdl:binding name="integracion-opcionales-crmBinding" type="mio:integracion-opcionales-crmPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="Alta_Masiva_Contacto">
            <soap:operation
                    soapAction="Alta_Masiva_Contacto"/>
            <wsdl:input name="Alta_Masiva_ContactoInput">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="Alta_Masiva_ContactoOutput">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="Consulta_ContactoPorDocumento">
            <soap:operation
                    soapAction="Consulta_ContactoPorDocumento"/>
            <wsdl:input name="Consulta_ContactoPorDocumentoInput">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="Consulta_ContactoPorDocumentoOutput">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>

    <wsdl:service name="integracion-opcionales-crmService">
        <wsdl:port name="integracion-opcionales-crmPort" binding="mio:integracion-opcionales-crmBinding">
            <soap:address
                    location="http://demo2042536.mockable.io/integracion-opcionales-crm"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>