functions/SAPCMWorker/sap-service-dev.wsdl

<?xml version="1.0"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:mio="http://demo2042536.mockable.io/service/1"
                  targetNamespace="http://demo2042536.mockable.io/service/1">

    <wsdl:documentation>
        mockable.io generated WSDL
    </wsdl:documentation>

    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                    targetNamespace="http://demo2042536.mockable.io/service/1">
            
            <xsd:element name="ZWS_GEN_PEDRequest" type="xsd:anyType"/>
            <xsd:element name="ZWS_GEN_PEDResponse" type="xsd:anyType"/>
            
            <xsd:element name="ZWS_GEN_NCRequest" type="xsd:anyType"/>
            <xsd:element name="ZWS_GEN_NCResponse" type="xsd:anyType"/>
            
        </xsd:schema>
    </wsdl:types>

    
    <wsdl:message name="ZWS_GEN_PEDInputMessage">
        <wsdl:part name="ZWS_GEN_PEDInputPart" element="mio:ZWS_GEN_PEDRequest"/>
    </wsdl:message>
    <wsdl:message name="ZWS_GEN_PEDOutputMessage">
        <wsdl:part name="ZWS_GEN_PEDOutputPart" element="mio:ZWS_GEN_PEDResponse"/>
    </wsdl:message>
    
    <wsdl:message name="ZWS_GEN_NCInputMessage">
        <wsdl:part name="ZWS_GEN_NCInputPart" element="mio:ZWS_GEN_NCRequest"/>
    </wsdl:message>
    <wsdl:message name="ZWS_GEN_NCOutputMessage">
        <wsdl:part name="ZWS_GEN_NCOutputPart" element="mio:ZWS_GEN_NCResponse"/>
    </wsdl:message>
    

    <wsdl:portType name="integracion-opcionalesPortType">
        
        <wsdl:operation name="ZWS_GEN_PED">
            <wsdl:input name="ZWS_GEN_PEDInput"
                        message="mio:ZWS_GEN_PEDInputMessage"/>
            <wsdl:output name="ZWS_GEN_PEDOutput"
                         message="mio:ZWS_GEN_PEDOutputMessage"/>
        </wsdl:operation>
        
        <wsdl:operation name="ZWS_GEN_NC">
            <wsdl:input name="ZWS_GEN_NCInput"
                        message="mio:ZWS_GEN_NCInputMessage"/>
            <wsdl:output name="ZWS_GEN_NCOutput"
                         message="mio:ZWS_GEN_NCOutputMessage"/>
        </wsdl:operation>
        
    </wsdl:portType>

    <wsdl:binding name="integracion-opcionalesBinding" type="mio:integracion-opcionalesPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="ZWS_GEN_PED">
            <soap:operation
                    soapAction="ZWS_GEN_PED"/>
            <wsdl:input name="ZWS_GEN_PEDInput">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ZWS_GEN_PEDOutput">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="ZWS_GEN_NC">
            <soap:operation
                    soapAction="ZWS_GEN_NC"/>
            <wsdl:input name="ZWS_GEN_NCInput">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="ZWS_GEN_NCOutput">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>

    <wsdl:service name="integracion-opcionalesService">
        <wsdl:port name="integracion-opcionalesPort" binding="mio:integracion-opcionalesBinding">
            <soap:address
                    location="http://demo2042536.mockable.io/integracion-opcionales"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>